.navbar-inner {
  background: #4d4f53;
  border-bottom: 1px solid orange;
}
.navbar-inner .container ul {
  margin: 10px;
}
.clinical-subnav {
  background-color: #d9d9d6;
  height: 40px;
}
.clinical-subnav input {
  margin-top: 4px;
}
.encounter-list {
  margin-top: 10em;
}
