.navbar-inner {
  background: #4d4f53;
  border-bottom: 1px solid orange;
}
.navbar-inner .container ul {
  margin: 10px;
}
.clinical-subnav {
  background-color: #d9d9d6;
  height: 40px;
}
.clinical-subnav input {
  margin-top: 4px;
}
.encounter-list {
  margin-top: 10em;
}
.div-table {
  display: table;
  border-spacing: 5px;
  /*cellspacing:poor IE support for  this*/

}
.div-table .div-table-row {
  display: table-row;
}
.div-table .div-table-row .div-table-cell {
  display: table-cell;
}
.form-error {
  color: red;
}
.ng-hide {
  display: block!important;
  visibility: hidden!important;
}
.payer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hide-keep {
  visibility: hidden;
}
input.ng-invalid.ng-dirty {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.control-group .controls input {
  height: 32px;
}
.control-group .controls select {
  height: 38px;
}
.ng-hide {
  display: block !important;
  visibility: hidden !important;
}
.modal-body {
  max-height: 600px;
}
.selected {
  background: #e8f7e3;
}
.card-container {
  position: absolute;
  width: 600px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -300px;
}
.card {
  border: 4px solid black;
  float: left;
  height: 100%;
}
.card h3 {
  margin-left: 5px;
}
#encounter-table {
  border: 2px solid #e0dfdc;
}
.chat-container {
  margin-top: 145px;
}
.chat-container .chat-header {
  height: 1.5em;
}
.chat-container .chat-body {
  background-color: #8b8d8e;
}
.chat-container .chat-body .message-post-container {
  padding: 5px 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.chat-container .chat-body .message-post-container #chat-box {
  width: 100%;
  padding: 0px;
}
.messages-container .message {
  padding: 5px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #ffffff;
}
