<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1>Add New Patient</h1>
    </div>
    <form class="form-horizontal" name="addPatientForm">
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" >Payer:</label>
          <div class="controls">
            <select ng-model="model.payer" required>
              <option value="BLUE CROSS BLUE SHIELD OF FLORIDA/BCBSF">Blue Cross Blue Shield of Florida</option>
              <option value="1">HUMANA</option>
            </select>
            <p class="hide-keep">add your article title here</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Member Id:</label>
          <div class="controls">
            <input ng-minlength="3" name="memberId" class="input-thick" type="text" ng-model="model.memberId" required></input>
            <p ng-show="addPatientForm.memberId.$dirty && !addPatientForm.memberId.$valid" class="form-error"><i class="icon-exclamation-sign"></i> Member Id must be provided</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Relationship to Subscriber:</label>
          <div class="controls">
            <select ng-model="model.relationshipToSubscriber" required>
              <option value="SELF">Self</option>
              <option value="SPOUSE">Spouse</option>
              <option value="CHILD">Child</option>
              <option value="OTHER">Other</option>
            </select>
            <p class="hide-keep">add your article title here</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Last Name:</label>
          <div class="controls">
            <input ng-minlength="3" name="lastName" class="input-thick" type="text" ng-model="model.lastName" required></input>
            <p ng-show="addPatientForm.lastName.$dirty && !addPatientForm.lastName.$valid" class="form-error"><i class="icon-exclamation-sign"></i> Last Name must be at least 2 characters</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">First Name:</label>
          <div class="controls">

            <input ng-minlength="3" name="firstName" class="input-thick" type="text" ng-model="model.firstName" required></input>
            <p ng-show="addPatientForm.firstName.$dirty && !addPatientForm.firstName.$valid" class="form-error"><i class="icon-exclamation-sign"></i> First Name must be at least 2 characters</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Birth Date:</label>
          <div class="controls">
            <div class="form-horizontal" ng-controller="DatepickerCtrl">
              <input name="birthdate" class="input-thick" type="text" datepicker-popup="MM/dd/yyyy" ng-model="model.dateOfBirth" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" required />
              <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
              <!-- <p ng-show="addPatientForm.birthdate.$dirty" class="form-error"><i class="icon-exclamation-sign"></i> Birthdate must be valid date</p> -->
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>