<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
      <h1>Filter</h1>
    </div>
    <form class="form-horizontal" name="addPatientForm">

 <!--      <div class="control-group">
        <label class="control-label">Date Range:</label>
        <div class="controls">
          <div class="form-horizontal" ng-controller="DatepickerCtrl">
            <input name="dateRange" class="input-thick" type="text" datepicker-popup="MM/dd/yyyy" ng-model="model.dateRange" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" />
            <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
          </div>
        </div>
      </div> -->

      <div class="control-group">
        <label class="control-label">Actor Ids:</label>
        <div class="controls">
          <select ng-model="model.actorId" required>
            <option value="0001194">0001194</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Action Status:</label>
        <div class="controls">
          <input name="actionStatus" class="input-thick" type="text" ng-model='model.actionStatus'></input>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Action Type:</label>
        <div class="controls">
          <input name="actionType" class="input-thick" type="text" ng-model='model.actionType'></input>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Limit:</label>
        <div class="controls">
          <input name="limit" class="input-thick" type="text" ng-model='model.limit'></input>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>