<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container navbar-container">
      <a class="brand" href="/availity/web/Home"><img src="../img/header-logo.gif" /></a>
      <ul class="nav pull-right">
        <li ng-controller="AddPatientCtrl">
          <a href="" ng-click="open()">
            <i class="icon-plus"></i>Patient
          </a>
        </li>
        <li>
          <a href="" data-help="authExport">
            <i class="icon-chart-bar"></i>Export
          </a>
        </li>
        <li ng-controller="FilterEncountersCtrl">
          <a href=""  data-help="authFilter" ng-click="open()">
            <i class="icon-filter"></i>Filter
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clinical-subnav">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <input type="text" class="input-large" id="inlineSearchBox" placeholder="Search by name" ng-model="search.$">
        </div>
      </div>
    </div>
  </div>
</div>