<form  name="newAuthForm" novalidate class="form-horizontal">
  <div class="control-group">
    <label class="control-label" >Auth Request Type:</label>
    <div class="controls">
      <select name="requestType" ng-model="model.authRequestType" required ng-options="type.id as type.value for type in requestTypeDropDown.values" ng-change="populateDropDowns(model.authRequestType)">
        <option value="">Select Auth Request Type</option>

      </select>
      <p ng-show="newAuthForm.requestType.$dirty && newAuthForm.requestType.$invalid" class="form-error">Auth Request Type Required</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >Type of Service:</label>
    <div class="controls">
      <select name="serviceType" ng-model="model.typeOfService" required ng-options="type.id as type.value for type in serviceTypeDropDown.values">
        <option value="">Select Type of Service</option>
      </select>
      <p ng-show="newAuthForm.serviceType.$dirty && newAuthForm.serviceType.$invalid" class="form-error">Type of Service Required</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >Place of Service:</label>
    <div class="controls">
      <select name="servicePlace" ng-model="model.placeOfService" required ng-options="type.id as type.value for type in servicePlaceDropDown.values">
        <option value="">Select Place of Service</option>
      </select>
      <p class="form-error" ng-show="newAuthForm.servicePlace.$dirty && newAuthForm.servicePlace.$invalid">Place of Service Required</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Service Date:</label>
    <div class="controls">
      <div class="form-horizontal" ng-controller="DatepickerCtrl">
        <input name="birthdate" class="input-thick" type="text" datepicker-popup="MM/dd/yyyy" ng-model="model.serviceDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" required />
        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
        <p class="hide-keep">add your article title here</p>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >Service Quantity/Type</label>
    <div class="controls">
      <select name="serviceQT" ng-model="model.serviceQuantityType" required>
      	<option value="">Select Service Quantity / Type</option>
        <option value="HOURS">Hours</option>
        <option value="DAYS">Days</option>
        <option value="UNITS">Units</option>
        <option value="VISITS">Visits</option>
      </select>
      <p ng-show="newAuthForm.serviceQT.$dirty && newAuthForm.serviceQT.$invalid" class="form-error">Service Type / Quantity Required</p>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Diagnosis Code:</label>
    <div class="controls">
      <input ng-minlength="3" name="diagnosisCode" class="input-thick" type="text" ng-model="model.diagnosisCode" required></input>
      <a href="" class='btn' ng-click="addDiagnosisCode(model.diagnosisCode)">+</a>
      <p ng-show="newAuthForm.diagnosisCode.$dirty && !newAuthForm.diagnosisCode.$valid" class="form-error"><i class="icon-exclamation-sign"></i> Diagnosis code must be at least 2 characters</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Procedure Code:</label>
    <div class="controls">
      <input ng-minlength="3" name="procedureCode" class="input-thick" type="text" ng-model="model.procedureCode" required></input>
      <a href="" class='btn' ng-click="addProcedureCode(model.procedureCode)">+</a>
      <p ng-show="newAuthForm.procedureCode.$dirty && !newAuthForm.procedureCode.$valid" class="form-error"><i class="icon-exclamation-sign"></i> Procedure code must be at least 2 characters</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Refer-to-Provider:</label>
    <div class="controls">
      <select name="referToProvider" ng-model="model.provider" ng-options="provider.id as provider.id + '-' + provider.lastName + ', ' + provider.firstName for provider in providers" required></select>
      <p class="hide-keep">add your article title here</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Refer-to-Provider:</label>
    <div class="controls">
      <select name="referToFacility" ng-model="model.facility" required>
        <option value="placeholder">Placeholder</option>
        <option value="placeholder">Placeholder</option>
        <option value="placeholder">Placeholder</option>
        <option value="placeholder">Placeholder</option>
      </select>
      <p class="hide-keep">add your article title here</p>
    </div>
  </div>

  <button href="" ng-click="submit()" ng-disabled="newAuthForm.$invalid" class='btn btn-info'>Submit</button>
</form>